/*Прозрачное меню #f297a084*/
.fixed-menu-panel {
  position: sticky;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  min-width: 500px;
  max-width: 500px;
}

.fixed-menu-list {
  display: flex;
  gap: 28px;
  margin: 0;
  padding: 0 10px;
  list-style: none;
  align-items: center;
  justify-content: center;
  height: 55px;
  background: linear-gradient(120deg, #f3ebd984);
  border-radius: 33px;
  box-shadow: 0 2px 16px rgba(0,0,0,0.10);
  backdrop-filter: blur(10px);
}

.fixed-menu-item {
  font-weight: 700;
  font-size: 1rem;
  color: #222;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-decoration: none;
}

  .bottom-panel {
      position: fixed;
      bottom: 10px;
      left: 0;
      right: 0;
      height: 60px;
      background: #f297a05a;
      backdrop-filter: blur(8px);
      border-radius: 50px;
      border-top: .5px solid rgba(255, 255, 255, 0.1);
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: env(safe-area-inset-bottom);
      z-index: 10;
    }

    .bottom-panel-nav {
        display: flex;
        gap: 18px;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .bottom-panel-nav a {
        color: white;
        text-decoration: none;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3px;
        width: auto;
    }

    .bottom-panel-nav img {
        width: 30px;
        height: 30px;
        object-fit: cover;
    }

  /* Чтобы контент не уезжал под панель на телефонах */
 

    /* Чтобы контент не уезжал под панель на телефонах */
    @media (max-width: 768px) {
        body {
            padding-bottom: calc(70px + env(safe-area-inset-bottom));
        }
    }

@media (max-width: 1200px) {
    .bottom-panel {
        display: flex;
    }

    .fixed-menu-panel {
        display: none;
    }
}

@media (min-width: 1201px) {
    .bottom-panel {
        display: none;
    }

    .fixed-menu-panel {
        display: block;
    }
}