/* Темная тема */
body[data-theme="dark"] {
  --header-bg: #222;
  --text-color: #fff;
  --text-color-sec: #ECECF1;
  --var-body-bg: #202123;
  --var-body-second-bg: #343541;
}

/* Светлая тема */
body[data-theme="light"] {
  --header-bg: #fff;
  --text-color: #222;
  --text-color-sec: #999;
  --var-body-bg: #fff;
  --var-body-second-bg: #eee;
}